repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.103.0
  hooks:
  - id: terraform_fmt
    args:
      - --args=-recursive
  - id: terraform_validate
  # args:
  #   - --tf-init-args=-upgrade
  #   - --tf-init-args=-lockfile=readonl
# -   repo: https://github.com/psf/black
#     rev: 22.10.0
#     hooks:
#     -   id: black